@model FinalTestChar.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

@using (Html.BeginForm())
{
    <input type="hidden" name="id" id="id" value="@Model.Id" />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
        <dt class="col-sm-2">
            Logo
        </dt>
        <dd class="col-sm-10">
            @Model.Logo
        </dd>
    </dl>

    <input type="submit" value="Add To Cart" class="btn btn-primary" onclick="saveData()" />
}

<script>
    function saveData() {

        let idList = localStorage.getItem('Id'), array = [];
        let entryId = document.getElementById("id").value;
        const courseId = [1, 2, 3, 4];


        if (!idList) {
            idList = localStorage.setItem("Id", document.getElementById("id").value);
        }

        array = idList.split(',');


        if (!idList.includes(courseId)) {

            if (idList.includes(entryId)) {
                return alert("Item already exists");
            }

            else
            {
                array.push(document.getElementById('id').value);
                idList = array.join(',');
                localStorage.setItem('Id', idList);
            }
        }
    }
</script>

<div>
    <a asp-action="Index">Back to List</a> |
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
