﻿@model FinalTestChar.Models.Course

@{

    ViewData["Title"] = "Checkout";

    <style>
        .logo {
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 50px;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .borderless th, .borderless td {
            border: none;
        }

        .customer-info,
        #is-shown {
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
        }

        #totalAmount {
            font-weight: bold;
        }
    </style>

}

<partial name="_MyCart" />


<script>
    function saveRecord() {
        @*$.ajax({
            type: 'POST',
            url: 'http://localhost:38310/Course/Checkout',
            data:
            success: function (data) {
                return data;
            }
        });*@

        let ids = JSON.stringify(localStorage.getItem("Id"));
        ids = JSON.parse(ids);
        let values = { values: ids };

        console.log(ids);

        $.ajax({
            type: 'POST',
            url: 'http://localhost:38310/Course/ButtonClick',
            traditional: true,
            data: values,
            dataType: "json",
            success: function (data) {
                console.log(data + "succ");

            },
            error: function (err) {
                console.log("err");
            }
        });
    }
</script>

<hr style=" height: 2px" />

<div class="row customer-info" id="is-shown">

    <div class="col-md-6">
        <h4 class="pb-2 text-right">Customer Information</h4><br />
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: flex;">
                <input name="FirstName" class="form-control" type="text" placeholder="First name" style="margin-right: 8px" required />
                <input name="LastName" class="form-control" type="text" placeholder="Last name" style="margin-left: 8px;" required />
            </div>

            <div class="form-group">
                <input name="Email" class="form-control" type="email" placeholder="Email" required />
            </div>

            <div class="form-group">
                <input name="BillingAddress" class="form-control" type="text" placeholder="Billing Address" required />
            </div>

            <div>
            </div>

            @*<div class="form-group text-right">
                <button type="submit" name="button" value="Checkout" class="btn btn-primary" asp-controller="Course" asp-action="_MyCart" onclick="nones()">Checkout</button>
            </div>*@
            <div class="form-group text-right">
                <input type="submit" name="button" value="Checkout" class="btn btn-primary" asp-action="ButtonClick" onclick="saveRecord()"/>
                 @*<input type="submit" name="button" value="Checkout" class="btn btn-primary" asp-action="" onclick="saveRecord();"  style="display: none;" />*@
            </div>
        </form>
    </div>
</div>





