﻿@page
@{
}


<h1>Shopping Cart</h1>

<div id="cart"> </div>

<script>
    var ids = JSON.stringify(localStorage.getItem("Id"))
    ids = JSON.parse(ids)

    let response = {}
    var mainContainer = document.getElementById("cart")

    fetch('http://localhost:38310/Course/CheckoutCart/?values=' + ids)
        .then(response => response.json())
        .then((data) => {
            let cartItems = JSON.parse(data)

            if (cartItems.length == 0) {
                let div = document.createElement("div")
                div.innerHTML = "Cart is empty"
                mainContainer.appendChild(div)
            }
            else {
                for (let i = 0; i < cartItems.length; i++) {
                    let div = document.createElement("div")
                    div.innerHTML = JSON.stringify(cartItems[i])
                    mainContainer.appendChild(div)
                }
            }
        });
    
      

</script>
